html{
	height: 100%;
}

body{
	height: 100%;
}

.container {
  margin: 2% auto;
  width: 70%;
}

table {
  margin: 0 auto;
}

td {
  text-align: center;
}

#status {
  margin: 50px;
  text-align: center;
}

#status img {
  display: block;
  margin: 5px auto;
}



.square{
    width:100px;
    height:100px;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}