  <div id="board">
    <table>
      <tr id="row1">
        <td class="square">1</td>
        <td class="square v">2</td>
        <td class="square">3</td>
      </tr>
      <tr id="row2">
        <td class="square h">4</td>
        <td class="square v h"></td>
        <td class="square h"></td>
      </tr>
      <tr id="row3">
        <td class="square">7</td>
        <td class="square v"></td>
        <td class="square"></td>
      </tr>
    </table>
  </div>