<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
 
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/board.js"></script>
  <script src="/js/prompt.js"></script>
  <script src="/js/game.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body class="container">
  <%= yield %>
</body>
</html>
